@import "tailwindcss";

/* Styles globaux */
body {
  background-color: theme("colors.zinc.50");
  color: theme("colors.zinc.900");
}

#root {
  min-height: 100vh;
}


.navlink {
  padding: 6px 12px;
  border-radius: 9999px;
  color: #4b5563;
}
.navlink.active {
  background: #4f46e5;
  color: white !important;
}
.navlink:hover {
  color: #4f46e5;
}




.btn-primary {
  @apply px-5 py-2.5 bg-indigo-600 text-white rounded-full text-sm font-semibold shadow hover:bg-indigo-700;
}
.btn-outline {
  @apply px-5 py-2.5 border border-indigo-600 text-indigo-600 rounded-full text-sm font-semibold bg-white hover:bg-indigo-50;
}
